# M03 Exercises

## Exercise 3.1

In [4]:
val = 5

if -10 < val < - 5:
    print('bucket 1')
elif -5 <= val <= -2:
    print('bucket 2')
elif val == -2:
    print('bucket 3')

If `val = 5`, nothing will print.

To fix the problem, add another elif condition if needed, or an else:

In [5]:
val = 5

if -10 < val < - 5:
    print('bucket 1')
elif -5 <= val <= -2:
    print('bucket 2')
elif val == -2:
    print('bucket 3')
else:
    print('bucket 4')

bucket 4

## Exercise 3.2

In [10]:
xx = [-2,8,0,5,6]

max_val = max(xx)

for x in xx:
    print(x) if x < max_val else print('max_val')

-2
max_val
0
5
6

## Exercise 3.3

In [18]:
it = 0

max_iter = 100

while it < max_iter:
    if (it == 0) or (it % 10 == 0):
        print(it)
    it += 1

0
10
20
30
40
50
60
70
80
90

## Exercise 3.4

In [23]:
my_list = ['United States','John','Boston','Washington']

for i in my_list:
    print(i.lower())

united states
john
boston
washington

## Exercise 3.5

In [37]:
my_iter = iter(my_list)
print(next(my_iter))
print(next(my_iter))
print(next(my_iter))
print(next(my_iter))

my_iter = iter(my_list)
_ = [print(next(my_iter)) for i in range(len(my_list))]

United States
John
Boston
Washington
United States
John
Boston
Washington

## Exercise 3.6

In [35]:
my_dict = {
    'Medford':11763,
    'Charlottesville':22903
}

for city, zip in my_dict.items():
    print(city, zip)

Medford 11763
Charlottesville 22903

## Exercise 3.7

In [36]:
for key in my_dict.keys():
    print(key, my_dict[key])

Medford 11763
Charlottesville 22903

## Exercise 3.8

In [43]:
numeric_list = [2,4,8]

print([i**3 for i in numeric_list])

[8, 64, 512]

## Exercise 3.9

In [44]:
str_list = ['lol','52','4','john','uva','sds']

print([i for i in str_list if i.isdigit()])

['52', '4']

## Exercise 3.10

In [45]:
grid = {
    'max_depth':[5,10],
    'ntrees':[100,200,300],
    'regularization':[11,12],
    'max_iter':[10,20]
}

print({key:grid[key] for key in grid.keys() if 'max' in key})

{'max_depth': [5, 10], 'max_iter': [10, 20]}